/* CSS variables (colors, typography etc) are set in CMS > Settings > Theme */

:root {
	--font-size-base: 1rem;
	--font-size-small: var(--font-size-base);
	--space: calc(var(--space-scale) / 100 * 1rem);
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/* Resets */

*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

/* Body */

body {
	font-family: var(--font);
	font-variation-settings:
		"SOFT" 100,
		"WONK" 1;
	font-size: calc(var(--font-size-base) * var(--font-scale) / 100);
	font-weight: var(--font-weight);
	line-height: calc(1.3 * var(--line-height-scale) / 100);
	color: var(--color-text);
	height: 100vh;
	background-color: var(--color-background);
	scroll-behavior: smooth;
	overflow-x: hidden;
	transition: background-color var(--transition-time) ease;
}

main {
	padding: 0 2rem 2rem;
}


/* Grid */

.grid {
	display: grid;
	grid-template-columns: 1fr;
	align-items: flex-start;
	-moz-column-gap: calc(var(--space) * 1.25);
	column-gap: calc(var(--space) * 1.25);
}

.grid--body {
	grid-template-rows: auto 1fr auto;
}

.flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grid--footer {
	grid-auto-rows: minmax(2rem, auto);
}

.grid__item {
	grid-column: 1;
}

.grid__item--end {
	display: flex;
	justify-content: flex-end;
	grid-column: 2;
}

.grid__item--top {
	grid-row: 1;
}

.grid__item--breakout {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	display: flex;
}

/* CSS Columns */

.columns {
	text-align: left;
	-moz-column-count: 1;
	column-count: 1;
	-moz-column-width: auto;
	column-width: auto;
}

.columns__item {
	-moz-column-break-inside: avoid;
	break-inside: avoid;
}

/* @supports (grid-template-rows: masonry) {
  .columns {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
  	grid-template-rows: masonry;
	}
} */

/* Color scheme toggle */

.toggle__label {
	width: 1rem;
	height: 1rem;
	padding-left: .5rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.toggle__checkbox,
.toggle__text {
	display: none;
}

/* Images */

img {
	transition: opacity var(--transition-time) ease;
	opacity: 0;
}

img.loaded {
	opacity: 1;
	transform: initial;
}

/* Fade on hover effect (images) */

.hover-fade {
	transition: opacity var(--transition-time), -webkit-filter var(--transition-time);
	transition: filter var(--transition-time), opacity var(--transition-time);
	transition: filter var(--transition-time), opacity var(--transition-time), -webkit-filter var(--transition-time);
	opacity: 1;
}

a:hover .hover-fade {
	-webkit-filter: grayscale(.5);
	filter: grayscale(.5);
	opacity: .75;
}

/* Typography */

.text--hide {
	text-indent: -9999px;
	overflow: hidden;
}

small,
.text--small {
	font-size: calc(var(--font-size-small) * var(--font-scale) / 100);
	line-height: calc(1rem * var(--line-height-scale) / 100);
}

a[href],
a[href]:visited {
	color: var(--color-link);
	text-underline-offset: 0.1rem;
	-webkit-text-decoration: var(--link-underline) 0.05rem;
	text-decoration: var(--link-underline) 0.05rem;
}

a[href].link-nostyle {
	color: currentColor;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: calc(var(--font-size-base) * var(--font-scale) / 100);
	font-family: "Instrument Sans", sans-serif;
}

h1 {
	font-size: 4rem;
	line-height: 1.3;
}

h2 {
	font-size: 3rem;
	line-height: 1.3;
}

h3 {
	font-size: 2rem;
	line-height: 1.3;
}

p {
	margin-bottom: var(--space);
}

/* header styles */

header .markdown * {
	margin-bottom: 0;
}

header h1 {
	line-height: 1;
}

header .sub {
	font-size: 1.5rem;
	line-height: 1;
}

.hide {
	display: none;
}

img {
	width: 100%;
	height: auto;
}

/* Navigational Arrows */

.arrow {
	text-decoration: none;
}

.arrow::after {
	display: inline-block;
	font-family: Inter, sans-serif;
}

.arrow--right::after {
	content: "\2192";
	margin-left: calc(var(--space) / 3);
}

/* Buttons */

.btn {
	display: flex;
	padding: 0.5rem 1rem;
	justify-content: center;
	align-content: center;
}


/* home page */


.pg--unassigned {
	display: none;
}


.home main {
	padding: 0;
}

.home .home-gallery {
	background: rgb(106 94 96 / 16%);
	margin-top: 5rem;
	position: relative;
}

.columns--project-groups {
	margin-top: -8rem;
}

.project-thumb figure {
	display: flex;
	flex-direction: column;
}

.project-thumb figcaption span {
	font-size: 2rem;
	color: var(--color-link);
	transition: 0.5s color ease;
	line-height: 0;
}

.project-thumb:hover figcaption span,
.project-thumb:focus figcaption span {
	color: #cc4455;
	text-decoration: underline;
	text-decoration-style: wavy;
}

/* project group page */

.title {
	font-size: clamp(2.5rem, 10vw, 8rem);
}

.projectgroup main {
	padding: 0;
}

.projectgroup article header {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: #fff;
	background-color: black;
}

/* project page */
.model-viewer-wrapper {

	background: linear-gradient(180deg, rgba(204, 68, 85, 0) 44%, rgba(204, 68, 85, 0.09) 45%);
	margin: -4rem -2rem 2rem;
}

/* Media Queries */

/* Tablet Breakpoint */

@media (min-width: 540px) {

	.mw--readable {
		max-width: calc(var(--space) * 24);
	}

	.grid__item--span-4 {
		grid-column: span 4;
	}

	.columns {
		-moz-column-gap: calc(var(--space) * 1.25);
		column-gap: calc(var(--space) * 1.25);
		-moz-column-count: 2;
		column-count: 2;
	}

	.grid--project {
		row-gap: calc(var(--space) * 1.5);
	}

	.grid__item--breakout {
		margin-left: unset;
		margin-right: unset;
	}

}

/* Small Desktop Breakpoint */

@media (min-width: 840px) {

	:root {
		--space: calc(var(--space-scale) / 100 * 1.5rem);
	}

	.grid__item--span-4 {
		grid-column: span 2/5;
	}

	.grid--project,
	.grid--description,
	.grid--footer {
		grid-template-columns: repeat(4, 1fr);
	}

	.grid--footer {
		grid-auto-rows: auto;
	}

	.grid__item {
		grid-column: initial;
	}

	.grid__item--end {
		display: flex;
		justify-content: flex-end;
		grid-column: 4;
	}

	[data-orientation] {
		grid-column: 2 / span 3;
	}

	[data-orientation=portrait] {
		grid-column: 2 / span 3;
	}

}

/* Desktop Breakpoint */

@media (min-width: 1140px) {

	.grid__item--span-4 {
		grid-column: span 2/5;
	}

	.columns {
		-moz-column-count: 2;
		column-count: 2;
	}

	[data-orientation] {
		grid-column: 2 / span 3;
	}

	[data-orientation=portrait] {
		grid-column: 3 / span 2;
	}

	.columns--project-groups {
		margin-top: -10rem;
	}

}

/* Padding */

.p--1 {
	padding: var(--space)
}

.p--2 {
	padding: calc(var(--space) * 2);
}

.pb--0 {
	padding-bottom: 0;
}

.pb--1 {
	padding-bottom: var(--space);
}

.pb--2 {
	padding-bottom: calc(var(--space) * 2);
}

.pb--3 {
	padding-bottom: calc(var(--space) * 3);
}

.pb--4 {
	padding-bottom: calc(var(--space) * 4);
}

.pb--6 {
	padding-bottom: calc(var(--space) * 6);
}

.pb--8 {
	padding-bottom: calc(var(--space) * 8);
}

/* Margins */

.mb--0 {
	margin-bottom: 0;
}

.mb--1 {
	margin-bottom: var(--space);
}

.mb--2 {
	margin-bottom: calc(var(--space) * 2);
}

.mb--3 {
	margin-bottom: calc(var(--space) * 3);
}

.mb--4 {
	margin-bottom: calc(var(--space) * 4);
}

.mb--6 {
	margin-bottom: calc(var(--space) * 6);
}

.mb--8 {
	margin-bottom: calc(var(--space) * 8);
}

/* 3d models */

model-viewer {
	width: 100%;
	height: 80%;
	min-height: 500px;
}