<header class="p--2 pb--0">

	<div class="flex-header">
		<div>
			<a id="site-title" href="{{ '/' | url }}">
				<h1>{{ settings.metadata.site_title }}</h1>
			</a>
			<div>
			{% if settings.metadata.site_subtitle_1 %}
				<span class="sub">{{ settings.metadata.site_subtitle_1 }}</span>
			{% endif %}

			{% if settings.metadata.site_subtitle_2 %}
				<span class="sub">{{ settings.metadata.site_subtitle_2 }}</span>
			{% endif %}
			</div>
		</div>
		<div class="header-controls">
			<nav>
			{%- for page in collections.pages -%}
				<a href="{{ page.url }}">{{ page.data.title | capitalize }}</a>
			{%- endfor -%}
			</nav>
		{% if settings.theme.theme_features.enable_dark_mode %}

			
				<div class="dark-toggle">
					<label for="toggle" class="toggle__label">
						<span class="toggle__text">Toggle Dark Mode</span>
						<input type="checkbox" name="toggle" id="toggle" class="toggle__checkbox">
						<svg width="14" height="14" viewBox="0 0 16 16">
							<circle pid="0" cx="8" cy="8" r="7.5" fill="var(--color-text)" stroke="var(--color-text)"></circle>
							<path pid="1" d="M1 8a7 7 0 007 7V1a7 7 0 00-7 7z" fill="var(--color-background)"></path>
						</svg>
					</label>
				</div>
			

		{% endif %}
		</div>

	</div>
	
</header>