---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/index.html"
section: page
---


  <header class="pb--4">

    <div>

      <h1>{{ title }}</h1>

    </div>

  </header>
<article class="page-content {% if secondColumn %}two-columns{% endif %}">


  <section>

    {{ content | safe }}

  </section>

  <section class="second-column">
    {{ secondColumn | safe }}
  </section>


</article>

{# Gets appended to <head> during build #}
{# {% include "components/opengraph.njk" %} #}
