---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/index.html"
section: page
---
<article class="page-content {% if secondColumn %}two-columns{% endif %}">

  <header class="pb--4">

    <div>

      <h1>{{ title }}</h1>

    </div>

  </header>

  <section>

    {{ layoutContent | safe }}

  </section>

  {% if secondColumn %}
  <section class="second-column">
    {{ secondColumn | safe }}
  </section>
  {% endif %}


</article>

{# Gets appended to <head> during build #}
{# {% include "components/opengraph.njk" %} #}
