---
layout: layouts/base.njk
permalink: "work/{{ title | slug }}/index.html"
section: projectGroup 
eleventyComputed:
  fileSlug: "{{ title | slug }}"
---

<article>
  <header>
    <div class="intro">
      <h1 class="grid__item--span-4 mw--readable">{{ title }}</h1>
      {% if description %}
        <p class="grid__item--span-4 mw--readable">{{ description | safe }}</p>
      {% endif %}
      {% if coverImage %}
        <img src="{{ coverImage }}" alt="{{ title }}" />
      {% endif %}
    </div>
  </header>

  <section class="project-list">
    <h2>Projects in {{ title }}</h2>
    {% set projectGroupProjects = collections.projects %}
    {% if projectGroupProjects | length %}
      {% include "components/projectList.njk" %}
    {% else %}
      <p>No projects found for this group.</p>
    {% endif %}
  </section>
</article>

{% include "components/opengraph.njk" %}