---
layout: layouts/base.njk
permalink: "work/{{ title | slug }}/index.html"
section: projectGroup
eleventyComputed:
  fileSlug: "{{ title | slug }}"
---

<ul class="breadcrumbs p--2 pb--1" aria-label="breadcrumbs">
  <li>
    <a href="/">exhibitions</a>
  </li>
  <li> {{title}} </li>
</ul>

<article>

  <header id="{{ section }}-{{ title | slug }}" class="p--2">
    <h2 class="title">{{ title }}</h2>
      {% if description %}
        <p class="grid__item--span-4 mw--readable">{{ description | safe }}</p>
      {% endif %}
    
  </header>

  <section class="project-list p--2">
    {% set projectList = collections.projects | projectGroupFilter("work/"+fileSlug+".md") %}
    {# the projectList component has its own conditional rendering logic, so we don't have to hide it #}
     {% include 'components/projectList.njk' %}
  </section>
</article>

{% include "components/opengraph.njk" %}